apiVersion: v1
kind: Service
metadata:
  name: backend-service
  labels:
    app: multi-tier-app
    tier: backend
spec:
  type: ClusterIP
  selector:
    app: multi-tier-app
    tier: backend
  ports:
  - name: http
    port: 3000
    targetPort: 3000
