apiVersion: v1
kind: Secret
metadata:
  name: mysql-secrets
type: Opaque
data:
  root-password: cm9vdDEyMyE=  # root123! in base64
  username: YXBwdXNlcg==       # appuser in base64
  password: YXBwMTIzIQ==       # app123! in base64
