apiVersion: v1
kind: Service
metadata:
  name: frontend-service
  labels:
    app: multi-tier-app
    tier: frontend
spec:
  type: NodePort
  selector:
    app: multi-tier-app
    tier: frontend
  ports:
  - name: http
    port: 80
    targetPort: 80
    nodePort: 30080
